<div id="mySidenav" class="sidenav">
  <h4>HTML and CSS</h4>
  <br>
  <a href="#">Learn HTML</a>
  <a href="#">Learn CSS</a>
  <a href="#">Learn Bootstrap</a>
  <a href="#">Learn W3.CSS</a>
  <a href="#">Learn Colors</a>
  <a href="#">Learn Icons</a>
  <a href="#">Learn Graphics</a>
  <a href="#">Learn How To</a>
  <a href="#">Learn Saass</a>
  <br>
  <h4>JavaScript</h4>
  <br>
  <a href="#">Learn JavaScript</a>
  <a href="#">Learn jQuery</a>
  <a href="#">Learn React</a>
  <a href="#">Learn AngularJS</a>
  <a href="#">Learn JSON</a>
  <a href="#">Learn AJAX</a>
  <a href="#">Learn W3.JS</a>
   <br>
   <h4>Server Side</h4>
   <br>
   <a href="#">Learn SQL</a>
   <a href="#">Learn PHP</a>
   <a href="#">Learn ASP</a>
   <a href="#">Learn Node.js</a>
   <a href="#">Learn Rasberry Pi</a>
</div>

