.sidenav {
  height: 100%;
}
.sidenav h4{
  margin-top: 16px!important;
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
}

.sidenav a {
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  white-space: normal;
  overflow: hidden;

}

.sidenav a:hover {
  background-color: #818181;
}
