<nav class="navbar">
  <div class="container-fluid">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" role="button"> TUTORIALS</a>
      <a class="nav-link dropdown-toggle" role="button"> REFERENCES</a>
      <a class="nav-link dropdown-toggle" role="button"> EXAMPLES</a>
      <a class="nav-link dropdown-toggle" role="button"> EXERCISES</a>
    </div>

    <ul class="nav navbar-nav navbar-right rRight">
      <li><a href="#"><i class="fa fa-adjust" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-fw fa-search"></i></a></li>
    </ul>
  </div>
</nav>


