.container{
  display: flex;
  background-color: #f1f1f1!important;
  height: 250px;
}
.cssSelector{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  background-color: rgb(40,44,52);
  color: white;
  padding: 8px 12px;
  font-size: 16px;
}

.aboutCss{
  flex: 1;
  color: white;
}
