
<div class="pageContent">
  <div class="pageCourse">
    <h1>HTML</h1>
    <h4>The language for building web pages</h4>
    <button>LEARN HTML</button>
    <button>HTML REFERENCE</button>
  </div>
  <div class="pageAdd">
    <h1>HTML Example</h1>
    <div class="htmlTag"></div>
    <button>Try it Yourself</button>
  </div>
</div>
