.pageContent{
  display: flex;
  margin-left: 100px;
}

.pageCourse{
  flex: 1;
  text-align: center;
  margin-top: 50px;
}
.pageCourse h1{
  font-size: 80px;
  color: #555555;
  font-weight: 400;
  margin: 2px 0 -20px 0 !important;
}

.pageCourse h4{
  margin-top: 30px;
}

.pageCourse button{
  margin-top: 30px;
  margin-right: 8px;
  font-size: 16px;
  color: #fff!important;
  background-color: #616161!important;
  padding: 8px 16px;
  vertical-align: middle;
}

.pageAdd{
  flex: 1;
  margin: 30px;
  background-color: #f1f1f1!important;
  height: 450px;
}

.htmlTag{
  margin-left: 15px;
  margin-right: 15px;
  height: 300px;
  background-color: rgb(40,44,52);
  color: white;
  padding: 8px 12px;
  font-size: 16px;
}

.pageAdd button{
  background-color: green;
  color: white;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 16px;
}
